p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
/*h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 6em;
  font-family: "Times New Roman", Times, serif;
}*/
